@media (max-width: 600px) {
	h1 {
		font-size: 5vw;
	}
	h2 {
		font-size: 4.5vw;
	}
	h3 {
		font-size: 4vw;
	}
	h4 {
		font-size: 3.5vw;
	}
	h5 {
		font-size: 3vw;
	}
	h6 {
		font-size: 2.5vw;
	}
}

header:not(article header) {
	border-bottom: var(--dividing-border);
}

body {
	background: var(--content-gradient);
	color: var(--content-text);
}

iframe {
	background-color: var(--iframe-color);
}

@media (prefers-color-scheme: dark) {
	img {
		opacity: 0.75;
		transition: opacity 0.5s ease-in-out;
	}
	img:hover {
		opacity: 1;
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--content-text);
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	box-shadow: none;
}

p {
	margin-top: 1.25em;
	margin-bottom: 1.75em;
}

blockquote.spoiler p {
	visibility: hidden;
	position: relative;
}

blockquote.spoiler p:after {
	visibility: visible;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	content: 'click to show spoiler';
	pointer-events: none;
}

.code-example {
	padding: 1em;
	border: 1px solid black;
}

:not(pre) > code[class*="language-"] {
	border-radius: 0;
}

pre {
	border-radius: var(--border-radius);
}

kbd,
code {
	padding: 0.25em 0.25em;
	border-radius: var(--border-radius);
	font-family: "Courier New", Courier, monospace;
}

.IFrameWideBox > iframe {
	position: absolute;
	left: 0;
	right: 0;
	height: 66vh !important;
}

.IFrameWideBox {
	height: 66vh;
}

kbd {
	background-color: #ddd;
	border: 1px solid #000;
	color: #000;
	text-transform: uppercase;
}

code {
	background-color: #555;
	border: 1px solid #eee;
	color: #fff;
}

a {
	color: #1cf;
}

details {
	background-color: slategrey;
	color: white;
	padding: 0.5em;
	border: 1px solid #555;
	border-radius: var(--border-radius);
	margin: 1em 0;
}
summary {
	margin: 0.5em 0;
}

.table-wrap {
	max-width: 100%;
	overflow-x: auto;
}

button {
	display: block;
	width: 100%;
	background-color: transparent;
	border: 1px solid #777;
	padding: 0.5em;
	color: inherit;
}

button.rerun:before {
	content: "▶ ";
}

summary:focus {
	border: none;
	box-shadow: none;
	outline: none;
}

aside {
	display: block;
	background-color: var(--logo-green);
	color: var(logo-text);
	text-shadow: var(log-text-shadow);
	padding: 0.7em;
	margin: 1em 0;
	border-radius: var(--border-radius);
}

aside:before {
	content: "Side Note. ";
	color: #ddd;
}

aside.aside-warning {
	border: 2px solid #ff7;
	background-color: var(--logo-red);
	color: var(--logo-text);
	text-shadow: var(--logo-text-shadow);
}

aside.aside-warning:before {
	content: "Warning! ";
	color: #ddd;
}
