iframe.code-preview {
	width: 100%;
	border: 1px solid #777;
	margin-bottom: 0;
	resize: vertical;
	height: 350px;
	max-height: 80vh;
	display: block;
	min-height: 100px;
}

.code-preview-parent {
	position: relative;
}

.code-preview-full.code-preview-full.code-preview-full > * {
	margin-top: 0;
	margin-bottom: 0;
}

.code-preview-full.code-preview-full.code-preview-full > *:first-child {
	margin-top: 1.5em;
}

.code-preview-full.code-preview-full.code-preview-full > *:last-child {
	margin-bottom: 1.5em !important;
}

.code-preview-parent {
	overflow: hidden;
	/* This gets rid of the white-space*/
}

.code-preview-parent:after {
	position: absolute;
	bottom: -0.725em;
	right: -0.15em;
	font-size: 42px;
	font-kerning: none;
	transform: rotate(-45deg);
	color: #777;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: ns-resize;
	cursor: row-resize;
	content: "≡";
	pointer-events: none;
}
